@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Montserrat', sans-serif;
}

.flex-center {
	@apply flex justify-center items-center;
}

.flex-between {
	@apply flex justify-between items-center;
}

.flex-start {
	@apply flex justify-center items-start;
}

.container {
	@apply max-w-[1920px] w-full px-[120px] max-sm:px-5 mx-auto;
}

.top-nav-link {
	@apply font-montserrat font-medium text-base leading-[125%] text-silver;
}

.section-title {
	@apply font-philosopher font-bold text-[52px] leading-[110%];
}
